body {
    display:flex;
    justify-content: center;
    padding-top: 100px;
    background-color: rgba(130, 123, 226, 0.486);
}

#calc {
    border: black solid 2px;
    border-radius: 4px;
    padding: 12px;
    background-color: rgb(146, 122, 107);
    font-size: small;
}

#display {
    display: flex;
    border: black solid 2px;
    border-radius: 4px;
    justify-content: flex-end;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 8px;
    margin: 2px 2px 8px;
    font-size: xx-large;
    font-weight: 700;
    font-family: Roboto;
    background-color: white;
    height: 32px;
    width: 256px;
}

.row {
    display:flex;
    flex-direction: row;
}

.button, .buttonBig {
    padding-top: 4px;
}

.button, .dot {
    width: 64px;
    text-indent: 50%;
}
.button, .dot, .buttonBig {
    border: black solid 2px;
    border-radius: 4px;
    height: 32px;
    margin: 2px;
    font-size:x-large;
    font-weight: 700;
    font-family: Roboto;
    background-color:beige;
}
.wait {
    border-right: 1px;
    border-bottom: 0px;
}

.buttonBig {
    width: 132px;
    text-indent: 5%;
}
.button, .buttonBig, .dot {
    transition-property: background-color;
    transition-duration: 0.3s;
}

.button:hover, .dot:hover, .buttonBig:hover {
    background-color: rgb(247, 181, 142);
}

#minus, #plus, #multi, #divide, #equ{
    background-color: rgba(202, 159, 159, 0.911);
    color: rgb(105, 14, 14);
}
#clear, #del {
    color: brown;
}
#minus:hover, #plus:hover, #multi:hover, 
#divide:hover, #equ:hover, #clear:hover, 
#del:hover {
    background-color: rgb(247, 181, 142);
}
