body {
    display:flex;
    justify-content: center;
    padding-top: 100px;
    background-color: rgb(206, 154, 154);
}

#calc {
    border: black solid 2px;
    border-radius: 4px;
    padding: 12px;
    background-color: rgb(177, 97, 39);
    font-size: small;
}

#casio {
    display: flex;
    border: black solid 2px;
    border-radius: 4px;
    justify-content: flex-end;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-right: 8px;
    margin: 2px 2px 8px;
    font-size:x-large;
    font-weight: 700;
    font-family: Roboto;
    background-color: white;
}

.row {
    display:flex;
    flex-direction: row;
}

.button {
    border: black solid 2px;
    border-radius: 4px;
    height: 32px;
    width: 64px;
    margin: 2px;
    text-indent: 50%;
    padding-top: 4px;
    font-size:x-large;
    font-weight: 700;
    font-family: Roboto;
    background-color:beige;
}

.buttonBig {
    border: black solid 2px;
    border-radius: 4px;
    height: 32px;
    width: 136px;
    margin: 2px;
    text-indent: 15%;
    padding-top: 4px;
    font-size:x-large;
    font-weight: 700;
    font-family: Roboto;
    background-color:beige;
}